.footer {
  padding: 35px 0px;
  @include sm {
    padding: 15px 0px;
  }
  &__body {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    @include xs {
        gap: 15px;
    }
  }

  &__logo {
    font-size: 15px;
    line-height: 147%;
    color: #c4c4c4;
  }


}
.social {
  display: flex;
  align-items: center;
  gap: 24px;

  &__item {
    display: flex;
    transition: 0.3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}
