.help {
  padding: 80px 0px;
  background: #ededed;
  @include lg {
    padding: 60px 0px;
  }

  @include md {
    padding: 40px 0px;
  }
  @include sm {
    padding: 20px 0px;
  }
  &__body {
    display: flex;
    @include md {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__item {
    &:first-child {
      flex: 0 1 35%;
      .title-h2 {
        @include md {
          text-align: center;
        }
      }
    }
    &:last-child {
      flex: 0 1 65%;
    }
  }

  &__item-text {
    font-size: 14px;
    line-height: 143%;
    color: #696969;
  }

  &__item-rating {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__item-scale {
    background: #f7f7f7;
    padding: 12px 18px;
    position: relative;
    z-index: 1;
    &:nth-child(1) {
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
        background: #d9d9d9;
      }
    }
    &:nth-child(2) {
      &::after {
        content: "";
        position: absolute;
        width: 90%;
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
        background: #d9d9d9;
      }
    }

    &:nth-child(3) {
      &::after {
        content: "";
        position: absolute;
        width: 70%;
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
        background: #d9d9d9;
      }
    }
    &:nth-child(4) {
      &::after {
        content: "";
        position: absolute;
        width: 40%;
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
        background: #d9d9d9;
      }
    }
  }
  &__item-scale-text {
    font-size: 13px;
    line-height: 154%;
    text-transform: uppercase;
    color: #666;
  }
}
