// Global SCSS-files imports
@import './vars';
@import './reset';
@import './mixins';
@import './global';

// Sections or Pages SCSS-files imports
@import './header';
@import './home';
@import './help';
@import './projects';
@import './touch';
@import './footer';

// Libs
@import './libs/swiper';

html,
body {
  height: 100%;
  width: 100%;
  font-family: $fontMain;
  font-weight: 400;
  line-height: 116%;
  font-size: 31px;
  color:#696969 ;
  background: #fff;
}

.main {
  flex: 1 1 auto;
  position: relative;
}